doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Тестовое задание
        script(src='/js/code.js')
        link(rel="stylesheet" href="/css/normalize.css")
        link(rel="stylesheet" href="/css/style.css")
