*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    padding: 10px;
    border: 2px solid #F4324A;
    background: none;
    text-align: center;
    font-weight: bold;
    color: #F4324A;
    outline: none;
    cursor: pointer;
    opacity: .8;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

button:hover {
    opacity: 1;
}

.content {
    display: flex;
    width: 100%;
}

.userProfile {
    width: 50%;
    align-self: center;
    text-align: center;
}

.userProfile img {
    border-radius: 20px;
}

.friends {
    display: flex;
    flex-flow: column;
    width: 20%;
    padding: 20px;
    border-left: 2px solid #F4324A;
}

.friend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.friend img {
    display: block;
    border-radius: 20px;
    margin-bottom: 10px;
}

.friend a {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 25%;
    color: #FF516C;
    text-decoration: none;
}

.inactive {
    display: none;
}

@media (max-width: 1024px) {
    h2 {
        font-size: 2rem;
    }
    .content {
        padding-top: 40px;
        flex-direction: column;
    }
    .friends {
        flex-flow: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        border: none;
        border-top: 2px solid #F4324A;
    }

    .friend {
        width: 30%;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }
}
